@charset "utf-8";

.logo {
    display: inline-block;
    width: 100px;
}

body {
    background-color: #44318D;
    margin: 0;
    width: 100%;
}

.top-bar {
    position: fixed;
    float: left;
    width: 100%;
    height: 50px;
    padding: 0;
    border-color: #36257a;
    background-color: hsl(266, 39%, 17%);
    
}